body {
  background-color: #FFECE0;
	padding:0px;
	margin:0px;
 }

.navigation-bar {
	background-color: #D97F48;
	margin:0px;
	padding:3px;
	height: 10vh;
}

a:link {
	text-decoration:none;
	color:aliceblue;
}
#icon3 {
	float:right;
	background: #D97F48;
	border: 1px solid aliceblue;
	border-right:none;
	border-top:none;
	border-bottom:none;
	height:10vh;
	padding-left:5px;
	padding-right:5px;
}
#icon2 {
	float:right;
	background: #D97F48;
	border: 1px solid aliceblue;
	border-right:none;
	border-top:none;
	border-bottom:none;
	height:10vh;
	padding-left:5px;
	padding-right:5px;
}
#icon1 {
	float:right;
	background: #D97F48;
	border: 1px solid aliceblue;
	border-right:none;
	border-top:none;
	border-bottom:none;
	padding-left:5px;
	padding-right:5px;
	height:10vh;
	
}
