body {
  background-color: #FFECE0;
	padding:0px;
	margin:0px;
	font-family: Helvetica, sans-serif;
 }
.mainWebpageBody {
	padding:20px;
}

/* LINK PROPERTIES */
a:link {
	text-decoration:none;
	color:white;
}
a:visited {
	text-decoration:none;
	color:white;
}
a:active {
	color: white;
}

/* NAVIGATION BAR //////////////////////////// */
.navigation-bar {
	background-color: #D97F48;
	margin:0px;
	padding:3px;
	height: 10vh;
}
#profileHomeLink {
	margin:none;
	padding:none;
	font-size:10vh;
}
#icon3 {
	float:right;
	background: #D97F48;
	border: 1px solid aliceblue;
	border-right:none;
	border-top:none;
	border-bottom:none;
	height:10vh;
	width:15vw;
	min-width: 75px;
	padding-left:5px;
	padding-right:5px;
	font-size: 3vmin;
}
a:hover#icon3 {
	background-color:#FFECE0;
	color:#B75D25;
}
#icon2 {
	float:right;
	background: #D97F48;
	border: 1px solid aliceblue;
	border-right:none;
	border-top:none;
	border-bottom:none;
	height:10vh;
	width:15vw;
	padding-left:5px;
	padding-right:5px;
	font-size: 3vmin;
}
a:hover#icon2 {
	background-color:#FFECE0;
	color:#B75D25;
}
#icon1 {
	float:right;
	background: #D97F48;
	border: 1px solid aliceblue;
	border-right:none;
	border-top:none;
	border-bottom:none;
	padding-left:5px;
	padding-right:5px;
	height:10vh;
	width:15vw;
	font-size: 3vmin ;
}
a:hover#icon1 {
	background-color:#FFECE0;
	color:#B75D25;
}
#icon4 {
	float:right;
	background: #D97F48;
	border: 1px solid aliceblue;
	border-right:none;
	border-top:none;
	border-bottom:none;
	height:10vh;
	width:15vw;
	padding-left:5px;
	padding-right:5px;
	font-size: 3vmin;
}
a:hover#icon4 {
	background-color:#FFECE0;
	color:#B75D25;
}
/* TEXT CLASSES //////////////////////////////// */
/* GENERAL TEXT CLASSES */
.nonBoldText {
	font-weight: normal;
}
p {
	text-indent: 2vw;
	font-size: 20px
}
.cursive {
	font-family:cursive;
}
.fantasy {
	font-family:fantasy;
}
.monospace {
	font-family:monospace;
}
h1 {
	font-size: 40px;
}
/* MAIN PAGE TEXT */
#homePageMainText {
	max-width: 80vw;
}
/* EXTRA NOTES TEXT */
#houckMessage {
	text-align:center;
	color:red;
}
.houckMessages {
	text-align:center;
	color: darkblue;
}
.houckSecondaryMessages {
	color:blue;
	text-align:center;
}
#alignMessage1 {
	text-align:left;
}
#alignMessage2 {
	text-align: center;
}
#alignMessage3 {
	text-align:right;
}
/*  MY HOBBIES TEXT */
#hobbiesList {
	font-size:20px;
}
#myHobbiesAboutProgramming {
	max-width: 80vw;
}
/* MY THOUGHTS ABOUT SCHOOL TEXT */
.schoolThings {
	font-size:20px;
}
/* IMAGE CLASSES ///////////////////////////////// */
/* EXTRA NOTES IMAGES */
.imageAlign {
	text-align:center;
}
#marqueeImage {
	border: 2px solid red;
}
/* EMBED CLASSES */
.embeddedVideo {
	text-align:center;
}